body {
    overflow-y: scroll;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #f3f3f6 !important;
}

.login-form-container {
    position: relative;
    margin: 2% auto;
    max-width: 350px;
    border: 1px solid darkgrey;
    background-color: #ffffff;
    box-shadow: 0 0 4px rgba(0, 0, 0, .14), 0 4px 8px rgba(0, 0, 0, .28);
}

.site-logo {
    background-color: transparent;
    border: none;
    margin-top: 2%;
    margin-bottom: 2%;
    box-shadow: none;
}

.site-logo img {
    margin: 0 auto;
}

.login-form-container button {
    margin-top: 4%;

}

.login-form-container .header {
    background-color: #337ab7;
    border-bottom: 1px solid darkgray;
    color: #fff;
    padding: 3%;
    font-size: 20px;
}

.login-form-container .font-style {
    font-size: 12px;
}

.login-form-container .form-div {
    padding: 15px 15px 15px 15px;
}

.form-div > p {
    padding: 0 10px;
}

.login-form-container form {
    padding: 0 10px 0 10px;
}

/*.email-logo {*/
    /*background-image: url('/static/images/person.png');*/
    /*background-repeat: no-repeat;*/
/*}*/

.email-field {
    padding: 0 36px 0 58px;
}

.email-field.email-large {
    font-size: 14px;
    font-weight: 500;
    outline-color: #039be5;
}

.email-field {
    box-sizing: border-box;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    height: auto;
    letter-spacing: .01em;
    line-height: 33px;
    margin: 0;
    overflow: hidden;
    padding: 0 16px;
    text-decoration: none;
}

.errorlist{
    padding-left: 15px;
    color: red;
}

.login-form-container form input[type='password'], input[type='text'], input[type='email'] {
    border: 1px solid darkgray;
    width: 100%;
}

.login-form-container .external-link {
    width: 100%;
    display: inline-block;
    margin: 3% 0;
    font-size: 14px;
}

.login-form-container .remember-box {
    display: inline;
    position: relative;
    top: -4px;
}

.login-form-container .inline-check {
    display: inline;
}

.login-form-container .forget-link a {
    float: right;
    font-size: 14px;
}

.line-center {
    margin: 0;
    padding: 0 4px;
    background: #fff;
    display: inline-block;
}

.hr-text {

    text-align: center;
    position: relative;
    z-index: 2;
    margin: 5% 1%;

}

.hr-text:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    border-top: solid 1px #039be5;
    z-index: -1;
    font-size: 14px;
}

.signup-link, .signin-link {
    text-align: center;
    margin-bottom: 2%;
    font-size: 14px;
}

.signup-text, .sign-in-text {
    text-align: center;
    margin-bottom: 2%;
    font-size: 14px;
}

.conditions {
    font-size: 14px;
}

.conditions a, .signin-link a, .signup-link a, .forget-link a {
    text-decoration: none;
    color: #039be5;
}

/*Profile Template Styling*/
#example_wrapper .row {
    margin: 0;
}

#example_wrapper .row .col-sm- * {
    padding: 0;
}

.data-table-container {
    width: 100%;
    margin-top: 2%;
}

.profile-container {
    width: 100%;
}

.form-container {
    width: 100%;
    margin-top: 1%;
    text-align: right;
    padding: 0 15px;
}

.header-text {
    font-size: 24px;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
    background-color: #F7F7F7;
    box-shadow: 0 0 4px rgba(0, 0, 0, .14), 0 4px 8px rgba(0, 0, 0, .28);
    padding-top: 10px;
    padding-bottom: 10px;
}
.center-alignment{
    text-align: center;
}
