{% extends "base.html" %}

{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
    <div style="width: 100%">
        <div class="login-form-container">
            <div class="header text-center">Change Password</div>
            <div class="form-div">
                <div class="center-alignment">
                    <p>{% trans 'Your password is now changed.' %}</p>
                </div>
                <a class="primaryAction btn btn-primary btn-lg btn-block "href="{% url 'account_login' %}">Back to Login</a>
            </div>
        </div>
    </div>
{% endblock %}
